{
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "printWidth": 100,
    "useTabs": false,
    "trailingComma": "none",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "bracketSpacing": true
}